NEXT_PUBLIC_SUPABASE_URL=https://aluuqvuwfywijqnxjyos.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oA4CsQXsV4aVL0wJT3gxlw_iUFcGMEY
SUPABASE_DB_URL=postgresql://postgres.aluuqvuwfywijqnxjyos:SUA-SENHA@HOST-POOLER-SUPABASE:5432/postgres?sslmode=require
